[init]
  defaultBranch = main

[diff]
  colorMoved = default

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictstyle = diff3
  tool = nvimdiff

[delta]
  line-numbers = true
  navigate = true
  light = false

[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[credential "https://github.com"]
  helper =
  helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
  helper =
  helper = !/usr/bin/gh auth git-credential
